<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="d-flex justify-content-between">
        <h3><%= @user.name %> さんとのチャット</h1>
      </div>
      <div id = "js_chat_list">
        <%= render 'chats/index', chats: @chats %>
      </div>
       <div>
        <%= render 'chats/form', chat: @chat %>
      </div>
    </div>
  </div>
</div>